html {
    background-image: url("back.jpg");
    background-size: cover;
}

.body1 {
  width:100%;
  padding: 10% 0;
  margin: auto;
  text-align: center;
}

.body1_h1 {
  text-align: center;
  color: white;
  font-size: 45px;
}
.home a {
  text-decoration: none;
}


.add,.show,.health,.ex, .day1, .day2, .day3, .day4, .chest1{
  display: inline-block;
  border-radius: 10px;
  margin-top: 10px;
  width: 85%;
  padding: 10% 1%;
  font-size: 35px;
  border: black 5px;
  background-image: url("main.jpg");
  background-size: cover;
}
.body1a1,.body1a2,.body1a3,.body1a4{
  color:black;
}
.home {
  position: relative;

}
