
html {
    background-image: url("back.jpg");
    background-size: cover;
}
.body1 {
  width:100%;
  padding: 10% 0;
  margin: auto;
  text-align: center;

}
.body1_h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}
.home a {
  text-decoration: none;
}
.home {
  position: relative;

}
* {
  box-sizing: border-box;
}
.vv {
  color:white;
}

.mainData {
  display: flex;
}

.inputRow {
  width: 100%;
}

.inputRow label {
  display: inline-block;
  width: 25%;
}

.inputRow input {
  width: 70%;
}
.outputt {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.outputt td, .outputt th {
    border: 1px solid #ddd;
    padding: 15px 5px;

}

.outputt td {
  background-color: #f2f2f2;
}



.outputt tr:{background-color: #f2f2f2;}

.outputt tr:hover {background-color: #f2f2f2;}

.outputt th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
}
.bpm1{
  display: inline-block;
  border-radius: 10px;
  margin-top: 10px;
  width: 85%;
  padding: 10% 1%;
  border: black 5px;
  font-size: 30px;
  background-image: url("main.jpg");
  background-size: cover;
}
.bpm11, .womanhide, .manhide, .mhide{
  width: 100%;
  margin: auto;
  display: none;
  padding: 5%;
  background-image: url("ex2wall.jpg");
  background-size: cover;
  border-radius: 10px;

}

.csscal input[type=number]{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


.csscal label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: white;
    font-size: 20px;
}

.csscal input[type=submit] {
    background-color: #37CCCE;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.csscal input[type=reset]{
    background-color: #CE3742;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.csscal input[type=result]{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.csscal h2{
  color:white;
}
