html {
    background-image: url("back.jpg");
    background-size: cover;
}
.body1 {
  width:100%;
  padding: 10% 0;
  margin: auto;
  text-align: center;

}
.body1_h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}
.home a {
  text-decoration: none;
}
.home {
  position: relative;

}
.body1a1{
  color:black;
}
.chesth3 {
  color:black;
  text-align: center;
}
.ch1{
  display: inline-block;
  border-radius: 10px;
  margin-top: 10px;
  width: 85%;
  padding: 10% 1%;
  border: black 5px;
  font-size: 35px;
  background-image: url("main.jpg");
  background-size: cover;
}
.chest {
  width: 80%;
  margin: auto;
  display: none;
  padding: 5%;
  background-image: url("exwall.jpg");
  background-size: cover;
  border-radius: 10px;

}
